@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
	font-family: 'Compacta';
	src: url('/fonts/compacta/compacta.woff2') format('woff2'),url('/fonts/compacta/compacta.woff') format('woff'),url('/fonts/compacta/compacta.otf') format('opentype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Compacta';
	src: url('/fonts/compacta/bold/compacta-bold.woff2') format('woff2'),url('/fonts/compacta/bold/compacta-bold.woff') format('woff'),url('/fonts/compacta/bold/compacta-bold.otf') format('opentype');
	font-style: normal;
	font-weight: 700;
}
