@font-face {
	font-family: 'Compacta';
	src: url('compacta.woff2') format('woff2'),url('compacta.woff') format('woff'),url('compacta.otf') format('opentype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Compacta Bold';
	src: url('compacta-bold.woff2') format('woff2'),url('compacta-bold.woff') format('woff'),url('compacta-bold.otf') format('opentype');
	font-style: normal;
	font-weight: 700;
}
